<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Layout CSS</title>
  <link rel="stylesheet" href="./layout.css">
</head>
<body>
  <div id="top" class="container">
    <header>
      <nav class="navbar">
        <a href="#home">Home</a>
        <a href="#news">Menu 1</a>
        <div class="dropdown">
          <button class="dropbtn">Menu &#8650;</button>
          <div class="dropdown-content">
            <a href="#">Sub Menu 1</a>
            <a href="#">Sub Menu 2</a>
            <a href="#">Sub Menu 3</a>
          </div>
        </div> 
        <a href="#news">Menu 3</a>
      </nav>
    </header>
    <p> 
      <img class="first-img" src="./images/bart/bart3.jpg" alt="Bart">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse, aliquid commodi blanditiis ut fuga fugiat, accusamus modi numquam, quis atque dignissimos! <img class="second-img" src="./images/fbi.png" alt="FBI"> Commodi mollitia quos odit architecto maiores! Vel, inventore earum.
    </p>
    <img class="third-img" src="./images/wanted.png" alt="Wanted">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque tempora cum, officia consectetur nam ut optio qui rem placeat nisi quod omnis. Ut corrupti et eligendi. Eum nesciunt facere debitis.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus ex numquam voluptatum. Ad rerum illum soluta odit. Recusandae deserunt omnis pariatur dolorem minus, accusantium, ipsa totam quaerat perspiciatis est exercitationem!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque tempora cum, officia consectetur nam ut optio qui rem placeat nisi quod omnis. Ut corrupti et eligendi. Eum nesciunt facere debitis.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus ex numquam voluptatum. Ad rerum illum soluta odit. Recusandae deserunt omnis pariatur dolorem minus, accusantium, ipsa totam quaerat perspiciatis est exercitationem!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque tempora cum, officia consectetur nam ut optio qui rem placeat nisi quod omnis. Ut corrupti et eligendi. Eum nesciunt facere debitis.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus ex numquam voluptatum. Ad rerum illum soluta odit. Recusandae deserunt omnis pariatur dolorem minus, accusantium, ipsa totam quaerat perspiciatis est exercitationem!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque tempora cum, officia consectetur nam ut optio qui rem placeat nisi quod omnis. Ut corrupti et eligendi. Eum nesciunt facere debitis.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus ex numquam voluptatum. Ad rerum illum soluta odit. Recusandae deserunt omnis pariatur dolorem minus, accusantium, ipsa totam quaerat perspiciatis est exercitationem!</p>
    <a class="top-link" href="#top">Back to Top</a>
  </div>
  <div class="container-2">
    <div class="first-group">
      <div class="div div-1">1</div>
      <div class="div div-2">2</div>
      <div class="div div-3">3</div>
    </div>

    <br>
    <hr>
    <br>

    <div class="second-group">
      <div class="div div-4">4</div>
      <div class="div div-5">5</div>
      <div class="div div-6">6</div>
    </div>

    <br>
    <hr>
    <br>

    <div class="third-group">
      <div class="div div-7">7</div>
      <div class="div div-8">8</div>
      <div class="div div-9">9</div>
    </div>
  </div>
  <main class="container-3">
    <nav>
      <ul>
        <li><a class="active" href="#home">Home</a></li>
        <li><a href="#news">News</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#about">About</a></li>
      </ul>
    </nav>
    <div class="hero">
      <div class="hero-html">
        <img src="./images/HTML5.png" alt="HTML">
      </div>
      <div class="hero-css">
        <img src="./images/CSS3.png" alt="CSS 3">
      </div>
    </div>
    <section class="intro">
      <article class= "home-intro-left">
        <div class="color-div">300 x 200</div>
        <div class="par-div">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo sunt mollitia corrupti eaque distinctio quo ipsam recusandae tempore adipisci vitae, excepturi voluptatum nisi, tempora et fugiat repudiandae laborum consequatur! Quod?</p>
        </div>
      </article>
      <article class="home-intro-center">
        <div class="color-div">300 x 200</div>
        <div class="par-div">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo sunt mollitia corrupti eaque distinctio quo ipsam recusandae tempore adipisci vitae, excepturi voluptatum nisi, tempora et fugiat repudiandae laborum consequatur! Quod?</p>
        </div>
      </article>
      <article class="home-intro-right">
        <aside class="color-div aside">
          <ul>
            <li>
              <a href="">Rebuilding slask.com</a>
            </li>
            <li>
              <a href="">Zasto Boostrap?</a>
            </li>
            <li>
              <a href="">React - prozor u svijet</a>
            </li>
            <li>
              <a href="">Najvece zablude programera</a>
            </li>
          </ul>
        </aside>
        <div class="par-div"></div>
      </article>
    </section>
    <section class="intro">
      <article class= "home-intro-left">
        <div class="color-div">300 x 200</div>
        <div class="par-div">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo sunt mollitia corrupti eaque distinctio quo ipsam recusandae tempore adipisci vitae, excepturi voluptatum nisi, tempora et fugiat repudiandae laborum consequatur! Quod?</p>
        </div>
      </article>
      <article class="home-intro-center">
        <div class="color-div">300 x 200</div>
        <div class="par-div">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo sunt mollitia corrupti eaque distinctio quo ipsam recusandae tempore adipisci vitae, excepturi voluptatum nisi, tempora et fugiat repudiandae laborum consequatur! Quod?</p>
        </div>
      </article>
      <article class="home-intro-right">
        <div class="color-div">300 x 200</div>
        <div class="par-div">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo sunt mollitia corrupti eaque distinctio quo ipsam recusandae tempore adipisci vitae, excepturi voluptatum nisi, tempora et fugiat repudiandae laborum consequatur! Quod?</p>
        </div>
      </article>
    </section>
    <section class="intro">
      <article class= "home-intro-left">
        <div class="color-div">300 x 200</div>
        <div class="par-div">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo sunt mollitia corrupti eaque distinctio quo ipsam recusandae tempore adipisci vitae, excepturi voluptatum nisi, tempora et fugiat repudiandae laborum consequatur! Quod?</p>
        </div>
      </article>
      <article class="home-intro-center">
        <div class="color-div">300 x 200</div>
        <div class="par-div">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo sunt mollitia corrupti eaque distinctio quo ipsam recusandae tempore adipisci vitae, excepturi voluptatum nisi, tempora et fugiat repudiandae laborum consequatur! Quod?</p>
        </div>
      </article>
      <article class="home-intro-right">
        <div class="color-div">300 x 200</div>
        <div class="par-div">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo sunt mollitia corrupti eaque distinctio quo ipsam recusandae tempore adipisci vitae, excepturi voluptatum nisi, tempora et fugiat repudiandae laborum consequatur! Quod?</p>
        </div>
      </article>
    </section>
  </main>
  <footer>
    <div class="container-4">
      <p>&copy; BitStudent</p>
    </div>
  </footer>
</body>
</html>